In [17]:
import numpy as np
import pandas as pd
from pandas.plotting import scatter_matrix
%matplotlib inline
import matplotlib.pyplot as plt

from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.preprocessing import Imputer, StandardScaler
from sklearn.datasets import fetch_california_housing

housing = fetch_california_housing();
#df = pd.DataFrame(data=housing["data"], columns=housing["feature_names"]);
#df = pd.DataFrame(data=housing["target"], columns=["target"]);
#df = pd.DataFrame(data=housing.target.reshape(-1, 1), columns=["target"]);
#print(housing.target.shape);
#print(housing.target.reshape(-1, 1).shape);
df = pd.DataFrame(data=np.c_[housing["data"], housing["target"]], 
                  columns=housing["feature_names"]+["target"]);

#df.head()   
#df.info()
df.describe()

#df.hist(bins=50, figsize=(20, 20));
#plt.show()

(20640,)
(20640, 1)

             target
count  20640.000000
mean       2.068558
std        1.153956
min        0.149990
25%        1.196000
50%        1.797000
75%        2.647250
max        5.000010

In [2]:
pipe = Pipeline([("imputer", Imputer(strategy="median")),
                 ("std_scaler", StandardScaler())]);
housing_scaled = pipe.fit_transform(df);
df_scaled = pd.DataFrame(data=housing_scaled, columns=housing["feature_names"]+["target"]);

print(housing_scaled.shape);

#df_scaled.head()   
#df_scaled.info()
df_scaled.describe()

#df_scaled.hist(bins=50, figsize=(20, 20));
#plt.show()

(20640, 9)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
count,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04
mean,6.609700e-17,5.508083e-18,6.609700e-17,-1.060306e-16,-1.101617e-17,3.442552e-18,-1.079584e-15,-8.526513e-15,2.037991e-16
std,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00
min,-1.774299e+00,-2.196180e+00,-1.852319e+00,-1.610768e+00,-1.256123e+00,-2.290000e-01,-1.447568e+00,-2.385992e+00,-1.662641e+00
25%,-6.881186e-01,-8.453931e-01,-3.994496e-01,-1.911716e-01,-5.638089e-01,-6.171062e-02,-7.967887e-01,-1.113209e+00,-7.561633e-01
50%,-1.767951e-01,2.864572e-02,-8.078489e-02,-1.010650e-01,-2.291318e-01,-2.431585e-02,-6.422871e-01,5.389137e-01,-2.353337e-01
75%,4.593063e-01,6.643103e-01,2.519615e-01,6.015869e-03,2.644949e-01,2.037453e-02,9.729566e-01,7.784964e-01,5.014973e-01
max,5.858286e+00,1.856182e+00,5.516324e+01,6.957171e+01,3.025033e+01,1.194191e+02,2.958068e+00,2.625280e+00,2.540411e+00

In [32]:
import numpy as np
import pandas as pd
from pandas.plotting import scatter_matrix
%matplotlib inline
import matplotlib.pyplot as plt

from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.preprocessing import Imputer, StandardScaler
from sklearn.datasets import fetch_california_housing

housing = fetch_california_housing();
sampleN, featureN = housing.data.shape;
df = pd.DataFrame(data=np.c_[housing["data"], housing["target"]], 
                  columns=housing["feature_names"]+["target"]);
housing_array=df.values[:,:];
np.random.shuffle(housing_array);
column_array=[i for i in range(housing_array.shape[1])];
df2 = pd.DataFrame(data=housing_array, 
                   columns=column_array);

df2.head()   
#df2.info()
#df2.describe()

        0     1         2         3       4         5      6       7      8
0  2.7562  29.0  4.529639  1.039948  3572.0  4.603093  37.35 -121.85  1.601
1  3.2850  37.0  3.773451  1.000000  1369.0  2.423009  33.89 -118.30  2.181
2  3.7895  29.0  5.323529  1.066176  1377.0  3.375000  37.63 -122.10  1.809
3  1.7276  50.0  4.036364  1.075000  1807.0  4.106818  37.78 -122.22  1.023
4  6.3002  24.0  6.252252  1.029029  2803.0  2.805806  34.38 -118.55  2.829